@import 'leaflet/dist/leaflet.css';

:root {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --primary: #58CD36;
    --on-primary: #FFFFFF;
    --container: #BCE6B0;
    --on-container: #16330D;
    --background: #fcfcfc;
    --on-background: #323331;
    --surface: #dde6db;
    --on-surface: #5a6657;
    --outline: #889982;
    --shadow: 0, 0, 0;
    --shadow-alpha: 0.25;
    --error: #DC2626;
    --error-container: #E6A9A9;
    --on-error-container: #330909;

    color: var(--on-background);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark {
    --primary: #072A6C;
    --on-primary: #000000;
    --container: #1A3A7A;
    --on-container: #D6E2FF;
    --background: #0B0E14;
    --on-background: #E2E2E6;
    --surface: #1E2530;
    --on-surface: #C4C6D0;
    --outline: #8E9199;
    --shadow: 0, 0, 0;
    --shadow-alpha: 0.5;
    --error: #FFB4AB;
    --error-container: #93000A;
    --on-error-container: #FFDAD6;
}

* {
    box-sizing: border-box;
}

html,
body,
#app {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    min-width: 320px;
}

a {
    text-decoration: none;
}

button,
input,
select,
textarea {
    font: inherit;
}
