# Should not be commited, pyc files are bytecode, and so can't be diffed like normal text files
# They are automatically compiled when the program is run
# Commiting them leads to commiting loads of unnecessary files that will change with every commit
*.pyc
server/venv/
.venv/
.vscode/
server/.env

# Copied from /client/.gitignore by Charlie
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
